data/archives/
data/210827_Pokus1/
data/210827_Pokus1_sorted/
data/210906_Pokus2/
data/210906_Pokus2_results/
data/210906_Pokus2_sorted/
data/211003_Pokus3_ims/
old/
__pycache__/

# latex data
*.lol
*.aux
*.toc
*.vf
*.tfm
*.pfb
*.toa
*.fd
*.out
*.gz
*.enc
*.fdb*
*.map
*.lof
*.fls
*.lot
*.xdv
*.log
logo/